.main-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    gap: 2rem;
  }
  
  .about-me {
    grid-column: 2 / 5;
    grid-row-end: auto;
    align-self: start;
  }

  .titles {
    grid-column: 6;
    grid-row: auto;
    align-self: start;
    justify-self: start;
  }
  
  .experience {
    grid-column: 7/9;
    grid-row: auto;
    align-self: start;
    justify-self: start;
    margin-bottom: 1rem;
  }

  .link {
    grid-column: 9;
    grid-row-end: 1;
    align-self: start;
  }

  .name-grid {
    grid-column: 1 / -1;
    grid-row: 4;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
  }



  
  
  @media (max-width: 768px) {
    .main-grid {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 1;
    }

    ul {
        margin: 0;
    }

.link {
    order: -1;
}

.name-grid {
  padding-bottom: 0;
}
}